---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="index-article" id="main">
      <h1>Howdy, internet!</h1>
      <p>
        Well, it's time. This is a place for me to write notes and musings of
        how my life is going and general thoughts about stuff. You'll probably
        find things related to: Life, ageing, technology, coding, working,
        social-etiquettes and running, so if any of this is of intrest, bookmark
        this site.
      </p>
      <p>
        I guess my main motivation for this, is as a keepsake for the future, in
        particular now as we're on this cusp of innovation/degredation with the
        advent of AI and its infestation into all facets of day-to-day life.
      </p>
      <p>
        For the tech folks, I'm specifically choosing to keep this as site as
        basic as possible, using a static site generator (Astro), ideally 0
        JavaScript, a little CSS to keep it spicy and some Markdown for my 'blog
        posts'.
      </p>
    </main>
    <Footer />
  </body>
</html>
